@model IEnumerable<MyApplication.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<br />

<p>
    <!--@Html.ActionLink("Create New", "Create") -->
    <a href="@Url.Action("Create", "List")" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add New</a>
</p>
<table class="table table-striped">
    <thead class="table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            <a href="@Url.Action("Edit", "List", new { id = item.CusotmerId})" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
            <!--@Html.ActionLink("Edit", "Edit", new { id = item.CusotmerId })  -->
            <a href="@Url.Action("Delete", "List", new { id = item.CusotmerId})" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Delete</a>
        </td>
    </tr>
}

</table>
